<section style="background:#efefe9;">
  <div class="container">
      <div class="board">
          <!-- Navigation Area (Circular Tabs) -->
          <app-navbar></app-navbar>
          <!-- End Navigation Area (Circular Tabs) -->

          <!-- Content Area -->
          <div class="tab-content">
              <!-- Routed view  -->
              <router-outlet></router-outlet>
          </div>
          <!-- End Content Area -->
      </div>

      <!-- For Debugging: show our formData as it is being typed -->
      <pre>{{ formData | json }}</pre>
      <pre>{{ formData.work | json }}</pre>
  </div>
</section>