<form [formGroup]="personalForm" (ngSubmit)="goNext(personalForm)">
  <div class="tab-pane fade in active">
      <h4 class="head text-center">{{title}}</h4>
      <br/>
      <div class='row'>
          <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
              <div class="row">
                  <div class='col-xs-12 col-sm-6'>
                      <div class="form-group">
                          <label class="control-label" for="firstname">First Name</label>  
                          <input class="form-control input-md" required name="firstname" type="text" placeholder="First Name" formControlName="firstName">   
                          <div class="alert alert-danger" *ngIf="firstName.touched && firstName.errors?.required">First Name is required</div>
                      </div>
                  </div>
                  <div class='col-xs-12 col-sm-6'>
                      <div class="form-group">
                          <label class="control-label" for="lastname">Last Name</label>  
                          <input class="form-control input-md" required name="lastname" type="text" placeholder="Last Name" formControlName="lastName">
                          <div class="alert alert-danger" *ngIf="lastName.touched && lastName.errors?.required">Last Name is required</div>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label" for="email">Email</label>
                  <input class="form-control input-md" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" type="text" placeholder="Email" formControlName="email">
                  <div class="alert alert-danger" *ngIf="email.errors?.pattern">Email is required and must be valid</div>
              </div>
                  
              <div class="form-group text-center">
                  <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!personalForm.valid"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
              </div>
          </div>
      </div>
  </div>
</form>